/*
选择器{属性:值;}
注意: 基本的三种选择器优先级问题
选择器优先级 影响范围越大的选择器，优先级最低
id选择器的优先级 > class选择器的优先级 -> 标签选择器
*/
/*
div{
    width: 200px;
    height: 200px;
    background-color: red;
}
*/
/*
 css选择器
 1、基础选择器      标签选择器、id选择器、类选择器
 2、关系型选择器    层级选择器、组选择器、
 */

/*
 标签选择器 通过标签来设置元素的样式
 影响范围最大
*/
div{
    width: 200px;
    height: 200px;
    background-color: red;
}
/*
类选择器 通过class类名来设置元素的样式
影响范围可控制，相对较小
html中class名可以设置多个 格式: class="item1 item2"
推荐使用 class选择器 实际开发中
*/
.item1{
    width: 300px;
    height: 300px;
    background-color: green;
}
.item2{
    width: 100px;
    height: 100px;
    background-color: blue;
}
/*
#id选择器 通过id名来设置元素样式
影响范围最小
id在html中不能重名，必须保持唯一，在js中会出现问题
*/
#box1{
    width:400px;
    height: 400px;
    /*设置边框*/
    border: 1px; solid-color: red;
}
/*
层级选择器 : 通过父级元素来设置子级元素的样式 还可以设置子级元素的子级的样式
层级选择器可以和多种选择器混合使用
层级选择器 + 类选择器
.xxx .xxx{}
层级选择器 + id选择器
.xxx #xxx{}
*/
.warp div{
    width:600px;
    height: 600px;
    background-color: bisque;
}
/*
组选择器
*/
.b1,.b2,.b3{
    width: 200px;
    height: 200px;
}
.b1{
    background-color:red;
}
.b2{
    background-color:green;
}
.b3{
    background-color:blue;
}
/*
伪类选择器
常用的伪类选择器有hover,表示鼠标悬浮在元素上时的状态，伪选择器有before和after他们可以通过样式在元素中插入内容
*/
.box{
    width:200px;
    height: 200px;
    background-color:green;
}
.box:hover{
    /*鼠标悬停后的状态*/
    background-color:red;
}
/* hover after 在元素里面的尾部插入内容*/
.box:after{
    content: 'LL';
}
/* hover before 在元素里面的头部插入内容*/
.box:before{
    content: 'I';
}