.item1{
    width:200px;
    height: 200px;
    /*
    颜色赋值方式:
    1、color
    2、
     */
    /*
    1、color赋值方式

    background-color:red;
    */

    /*
    2、rgb三色赋值

    background-color:rgb(128,128,128);
    */
    /*
    3、用16进制来表示颜色
       以#开始，一共有6位值，前两个数值 红色， 中间两位 绿色  最后两位是 蓝色
       取值范围:0-9 a-f
       #000000 代表黑色 简写: #000 每两位都一样可以用简写
       #ffffff 代表白色 简写: #fff 每两位都一样可以用简写
       #00ff00 简写 #0f0
       #ff0000 简写 #f00
       #0000ff 简写 #00f
       实际开发中，最常用的方式是16进制的;

    background-color: #000000
    */
    /*
    透明度设置  参数最后一位是透明度 0-1直接的小数 0代表完全透明  1代表完全不透明
     */
    background-color: rgba(0,0,0, 1);
}